## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [7]:
lista = ["buenos_aires", "rio_de_janeiro", "nueva_york", "paris", "madrid", "bangkok", "miami", "cordoba"]
print(lista)

['buenos_aires', 'rio_de_janeiro', 'nueva_york', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba']

2) Imprimir por pantalla el segundo elemento de la lista

In [9]:
print(lista[1])

rio_de_janeiro

3) Imprimir por pantalla del segundo al cuarto elemento

In [13]:
print(lista[1:4])

['rio_de_janeiro', 'nueva_york', 'paris']

4) Visualizar el tipo de dato de la lista

In [14]:
type(lista)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [15]:
print(lista[2:])

['nueva_york', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba']

6) Visualizar los primeros 4 elementos de la lista

In [17]:
print(lista[ :4])

['buenos_aires', 'rio_de_janeiro', 'nueva_york', 'paris']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [18]:
lista.append("miami")
lista.append("rio_cuarto")

In [19]:
print(lista)

['buenos_aires', 'rio_de_janeiro', 'nueva_york', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto']

8) Agregar otra ciudad, pero en la cuarta posición

In [20]:
lista.insert(3, "cancun")

In [21]:
print(lista)

['buenos_aires', 'rio_de_janeiro', 'nueva_york', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto']

9) Concatenar otra lista a la ya creada

In [22]:
lista.extend(["africa", "america", "europa", "oceania", "asia"])

In [23]:
print(lista)

['buenos_aires', 'rio_de_janeiro', 'nueva_york', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania', 'asia']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [24]:
lista.index("miami")

7

11) ¿Qué pasa si se busca un elemento que no existe?

In [25]:
lista.index("sampacho")

ValueError: 'sampacho' is not in list

12) Eliminar un elemento de la lista

In [26]:
lista.remove("buenos_aires")

In [27]:
print(lista)

['rio_de_janeiro', 'nueva_york', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania', 'asia']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [28]:
lista.remove("sampacho")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [31]:
ultimo=lista.pop()

In [32]:
print(lista)

['rio_de_janeiro', 'nueva_york', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania']

In [33]:
print(ultimo)

asia

In [34]:
segundo = lista.pop(1)
print(lista)
print(segundo)

['rio_de_janeiro', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania']
nueva_york

15) Mostrar la lista multiplicada por 4

In [35]:
print(lista*4)

['rio_de_janeiro', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania', 'rio_de_janeiro', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania', 'rio_de_janeiro', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania', 'rio_de_janeiro', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania']

In [36]:
print(lista)

['rio_de_janeiro', 'cancun', 'paris', 'madrid', 'bangkok', 'miami', 'cordoba', 'miami', 'rio_cuarto', 'africa', 'america', 'europa', 'oceania']

In [38]:
lista.sort()
print(lista)

['africa', 'america', 'bangkok', 'cancun', 'cordoba', 'europa', 'madrid', 'miami', 'miami', 'oceania', 'paris', 'rio_cuarto', 'rio_de_janeiro']

In [39]:
lista.sort(reverse=True)
print(lista)

['rio_de_janeiro', 'rio_cuarto', 'paris', 'oceania', 'miami', 'miami', 'madrid', 'europa', 'cordoba', 'cancun', 'bangkok', 'america', 'africa']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [43]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(mi_tupla)
type(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [49]:
print(mi_tupla[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [45]:
print(20 in mi_tupla)
print(30 in mi_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [52]:
x = "paris"
if not(x in lista):
    list.append(x)
    print("se agrego la ciudad" + str(x))
else:
    print(str(x)+ " ya existia")

paris ya existia

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [54]:
print(mi_tupla.count(6))
print(lista.count("miami"))

1
2

21) Convertir la tupla en una lista

In [55]:
type(mi_tupla)

tuple

In [56]:
mi_tupla[5]

6

In [57]:
mi_tupla[5:10]

(6, 7, 8, 9, 10)

In [58]:
lista2=list(mi_tupla)

In [59]:
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [60]:
type(lista2)

list

In [61]:
type(mi_tupla)

tuple

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [62]:
print(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [71]:
v1,v2,v3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = mi_tupla
print(v1)
print(v2)
print(v3)

1
2
3

In [72]:
primero = mi_tupla[0]
segundo = mi_tupla[1]
tercero = mi_tupla[2]

In [73]:
print(primero)
print(segundo)
print(tercero)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [76]:
diccionario1 = dict()

In [82]:
diccionario1 ={'ciudad':[lista]}

In [83]:
print(diccionario1)

{'ciudad': [['rio_de_janeiro', 'rio_cuarto', 'paris', 'oceania', 'miami', 'miami', 'madrid', 'europa', 'cordoba', 'cancun', 'bangkok', 'america', 'africa']]}

In [88]:
diccionario1 = { 'ciudad': lista[0],
                'ciudad':lista[1],
                'ciudad':lista[2],
                'continente':lista[3],
                'ciudad':lista[4],
                'ciudad':lista[5],
                'ciudad':lista[6],
                'continente':lista[7],
                'ciudad':lista[8],
                'ciudad':lista[9],
                'ciudad':lista[10],
                'continente':lista[11],
                'continente':lista[12]
                }

In [89]:
print(diccionario1)

{'ciudad': 'bangkok', 'continente': 'africa'}

In [90]:
diccionario2 = {  'Ciudad': lista, 
'País': ['Brasil','Paraguay','Ecuador','Uruguay','Chile','Perú','Venezuela','Colombia','Méjico','Uruguay','España','Italia','Francia'], 
'Continente' : ['América','América','América','América','América','América','América','América','América','América','Europa','Europa','Europa']}

In [91]:
print(diccionario2)

{'Ciudad': ['rio_de_janeiro', 'rio_cuarto', 'paris', 'oceania', 'miami', 'miami', 'madrid', 'europa', 'cordoba', 'cancun', 'bangkok', 'america', 'africa'], 'País': ['Brasil', 'Paraguay', 'Ecuador', 'Uruguay', 'Chile', 'Perú', 'Venezuela', 'Colombia', 'Méjico', 'Uruguay', 'España', 'Italia', 'Francia'], 'Continente': ['América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'Europa', 'Europa', 'Europa']}

24) Imprimir las claves del diccionario

In [93]:
print(diccionario2.keys())

dict_keys(['Ciudad', 'País', 'Continente'])

In [96]:
print(diccionario1.keys())

dict_keys(['ciudad', 'continente'])

25) Imprimir las ciudades a través de su clave

In [94]:
print(diccionario1.values())

dict_values(['bangkok', 'africa'])

In [95]:
print(diccionario2.values())

dict_values([['rio_de_janeiro', 'rio_cuarto', 'paris', 'oceania', 'miami', 'miami', 'madrid', 'europa', 'cordoba', 'cancun', 'bangkok', 'america', 'africa'], ['Brasil', 'Paraguay', 'Ecuador', 'Uruguay', 'Chile', 'Perú', 'Venezuela', 'Colombia', 'Méjico', 'Uruguay', 'España', 'Italia', 'Francia'], ['América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'América', 'Europa', 'Europa', 'Europa']])

In [98]:
len(diccionario2)

3